/*** Add your styles here **/


:root{
    --fuentePpal: 'Urbanist', sans-serif;
    --fuenteCursiva: 'Allison', cursive;
    --blanco:#FFFFFF;
    --negro: #000000;
    --gridOscuro:#2C394B;
    --azul:#035397;
    --verde:#055052;
    --colorado:#CD113B;
    --verdeSuave:#CDF0EA;
    --lavandaSuave:#F4F6FF;
    --naranja:#F05A28;
    --cholate:#865439;
}


body{
    background-color: var(--lavandaSuave);
}

.encabezado {
    font-size: 1.2rem;
    font-family: var(--fuenteCursiva);

}

/*
.encabezado  span{
    font-family: var(--fuenteCursiva);
    text-transform: uppercase;
    color: var(--colorado);

}
*/

.sociales ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.sociales ul li{
    position: relative;
    display: inline-block;
}

/* .sociales ul li a::before{ */
.sociales ul li a{
    font-family: var(--fuentePpal);
    display: inline-block;
    vertical-align: top;
    padding: 0.5rem;
    font-size: 2.5rem;
    color: var(--cholate);
}
.sociales ul li a:hover{
    color: var(--verde);
}

.navegacion{
    background-color: var(--azul);
}
.navbar-light .navbar-toggler{
    background-color: var(--lavandaSuave);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover{
    color: var(--lavandaSuave);
    text-transform: uppercase;
}

.nav-link{
    color: var(--lavandaSuave);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    transition: background-color .4s  ease-in-out;
    font-family: 'Oxygen', sans-serif;
}

.nav-link:hover{
    background-color: var(--lavandaSuave);
    color: var(--azul);
}

.logo-color{
    color: var(--colorado);
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
}
.logo-color:hover{
    color: var(--gridOscuro);
    text-decoration: none;
}

.footer p{
    font-family: var(--fuenteCursiva);
    font-size: 1.9rem;
}

/* img */

.borde{
    border: 1px solid var(--azul);
}
.hero{
    position: relative;
}

.hero h2{
    position: absolute;
    bottom: 2rem;
    right: 0;
    color: var(--azul);
    background-color: var(--lavandaSuave);
    border: 1px solid var(--azul);
}

.hero h2:hover{
    color: var(--lavandaSuave);
    background-color: var(--azul);
    border: 1px solid var(--lavandaSuave);

}

.imagen-cel{
    position: absolute;
    bottom: -4rem;
    right: 0;
    color: var(--azul);
    background-color: var(--lavandaSuave);
    border: 1px solid var(--azul);
}

.imagen-cel:hover{
    color: var(--lavandaSuave);
    background-color: var(--azul);
    border: 1px solid var(--lavandaSuave);

}